:root {
  --tea-green: #ccd5aeff;
  --beige: #e9edc9ff;
  --cornsilk: #fefae0ff;
  --papaya-whip: #faedcdff;
  --light-bronze: #d4a373ff;

  --negro: #000;
  --blanco: #000;

  --fuentePrincipal: 'Staatliches', cursive;
}

/* Ekemplo de como usar las variales
  background-color: var(--tea-green); 
*/


html {
  height: 100%;
  width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-dog{
  background-color: var(--tea-green);
  padding: 0 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.nav-dog ul {
    list-style: none !important;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
}

.nav-dog a {
    display: block;
    color: #432818;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px 25px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-dog a:hover {
    background-color: #e9edc9;
    color: #bc6c25;
}

.nav-dog h1{
  color: #2d1b14;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#imgPaw{
  width: 50px;
  height: 50px;
}

body{
  background-color: var(--papaya-whip) !important;
  background-size: cover;
}